/*---------- Images ----------*/

.about-image{
  align-self: center;
}

.contact-image{
  display: flex;
  justify-content: center;
  margin: 40px 0px 40px 0px;
}

.contact-image img{
  max-width: 25%;
}


/*---------- Layout ----------*/

.about_me-container{
  display: flex;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
  gap: 20px;
}

.end-text{
  margin-bottom: 100px;
}


/*---------- Hover ----------*/

.social-icons img:hover, .header-links li:hover{
  transform: scale(1.1);
}


/*---------- Colors and fonts/text ----------*/

.logo{
  font-family: var(--text-h3);
  color: var(--color-white);
}

.welcome-text, h1, .contact-text, .end-text{
  color: var(--color-white);
}

.contact-text, .end-text{
  text-align: center;
}
