
/*---------- Header ----------*/

header {
  background-color: var(--color-header-footer);
  position: sticky;
  top: 0px;
  z-index: 999;
  }

.header-section ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.header-nav a{
  padding: 20px;
  color: var(--color-white);
  text-decoration: none;
  font-size: clamp(20px, 3vw, 28px);
  font-family: var(--text-h2)
}

.header-links{
  display: flex;
}


/*---------- Footer ----------*/

footer {
  background-color: var(--color-header-footer);
  padding: 40px;
}

.footer-content {  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: center;
  color: var(--color-white);
}

.social-icons{
  display: flex;
  justify-content: right;
}